html, body {
	width: 100%;
	height: 100%;
	min-height: 100%;
	overflow: hidden;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Gotham Narrow A', 'Gotham Narrow B', helvetica, arial, sans-serif;
	font-weight: 300; 
	font-style: normal;
}

.container {
	padding:0;
	position:fixed;
	top:0;
	bottom:140px;
	left:0;
	right:0;
}

#featureImg {
<<<<<<< HEAD
	background: url(../img/1.jpg) no-repeat center fixed; 
=======
>>>>>>> 09ff35e553d69a79f55244837107d603f82a442d
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	height: 100%;
	margin-bottom: 140px;
	animation: fadein 1s;
    	-moz-animation: fadein 1s; /* Firefox */
	-webkit-animation: fadein 1s; /* Safari and Chrome */
	-o-animation: fadein 1s; /* Opera */
}

#navBar {
	background-color: #fff;
	height: 110px;
	width: 100%;
	position: fixed;
	bottom: 0;
	padding-top: 30px;
	min-width: 600px;
}

#logo {
	display: inline-block;
	background: url(../img/logo.png) no-repeat;
	width: 83px;
	height: 82px;
	margin-left: 27px;
}

#contactInfo {
	display: inline-block;
	vertical-align: top;
	margin-left: 196px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
	margin: 0;
}

address {
	font-size: 16px;
	font-style: normal;
	line-height: 22px;
	font-family: 'Gotham Narrow A', 'Gotham Narrow B', helvetica, arial, sans-serif;
}

h6 {
	color: #999999;
	font-size: 12px;
	line-height: 22px;
}

a {
	color: #000;
}

a:hover,
a:active {
	color: #999;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

@media (-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 

    #logo{
        background:url('../img/logo@2x.png') no-repeat top left;
		background-size: 83px 82px;
    }
}

@media only screen and (max-device-width: 480px), only screen and (min-device-width: 560px) and (max-device-width: 1136px) and (-webkit-min-device-pixel-ratio: 2) {
    
    .container {
	    bottom:110px;
    }
    
    #navBar {
    	padding-top: 20px;
	    height: 70px;
	    padding-bottom: 20px;
    }
    
    #logo{
    	margin-top: 10px;
        background:url('../img/logo@2x.png') no-repeat top left;
		background-size: 50px 50px;
    }
    
    #contactInfo {
    	margin-left: 0px;
    }
    
    address {
    	font-size: 12px;
    }
}